<form action="/todos/{{ todo._id }}/edit" method="POST">
  <input type="text" placeholder="enter todo" name="name" value="{{todo.name}}">
  <button type="submit">Save</button>
  <a href="/">Back</a>
</form>